<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="PassIt" Manufacturer="p4tin" Version="1.0.0.0" UpgradeCode="12345678-1234-1234-1234-123456789012" Scope="perUserOrMachine">
    <Summary Title="PassIt Password Manager" Subject="PassIt Installer" Description="A local-only, encrypted password manager" Keywords="password, manager, secure" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="PassIt" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="PassIt" />
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="PassIt" Level="1">
      <ComponentRef Id="PassItExe" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>

    <Component Id="PassItExe" Directory="INSTALLFOLDER" Guid="87654321-4321-4321-4321-210987654321">
      <File Id="PassItExeFile" Source="PassIt.exe" KeyPath="yes" />
    </Component>

    <Component Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Guid="11111111-1111-1111-1111-111111111111">
      <Shortcut Id="StartMenuPassIt" Name="PassIt" Target="[INSTALLFOLDER]PassIt.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\p4tin\PassIt" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>
</Wix>